<TabView>
    <StackLayout *tabItem="{title: 'Publications', iconSource: 'res://news'}">
        <StackLayout>
            <ns-publicaciones></ns-publicaciones>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Go up', iconSource: 'res://cloud'}">
        <StackLayout>
            <ns-subir-pubicacin></ns-subir-pubicacin>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Profile', iconSource: 'res://settings'}">
        <StackLayout>
            <ns-info-user></ns-info-user>
        </StackLayout>
    </StackLayout>
</TabView>