.input-rounded{
    margin-top: 20;
    border-width: 1;
    border-color: cornflowerblue;
    background-color: white;
    margin-bottom: 20px;
    border-radius:10;
    width: 80%;
}

.basic-button{
    margin-top: 5%;
    border-radius:10;
    width: 60%;
    background-color: coral;
}

.contenerdor-principal{
    vertical-align: middle;
}

.bottom{
    margin-top: 20%;
}